
.icon-quality:before { content: '\e800'; } /* '' */
.icon-cooperation:before { content: '\e801'; } /* '' */
.icon-service:before { content: '\e802'; } /* '' */
.icon-shopping:before { content: '\e803'; } /* '' */